@{
    ViewBag.Title = "Revelations";
    Layout = "~/Views/Shared/DangerZoneLayout.cshtml";
}

@*<h2>Revelations</h2>*@

<section>
    <div>
        <input type="button" value="Let's tessellate..." onclick="dz.t.Flip();" />
    </div>
    <div>
        <img alt="Test Image" src="~/Content/img/darthtests.jpg" class="tessellate" />
        <img alt="Test Image" src="~/Content/img/darthtests.jpg" class="tessellate" data-tessellate-type="fixed" data-tessellate-size="50" data-tessellate-altimg="sheldon.jpg" />
    </div>
</section>
