@{
    ViewBag.Title = "Revelations";
    Layout = "~/Views/Shared/DangerZoneLayout.cshtml";
}

<h2>Revelations</h2>

<section>
    <input type="button" value="Let's tessellate..." onclick="dz.t.Flip();" />
    <br />
    <img alt="Test Image" src="~/Content/img/darthtests.jpg" class="tessellate" />
</section>
